<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="default.css">
    <link rel="stylesheet" href="ui.css">
</head>
<body>
     <ul class="user-list message-list">
        <li class="user-item message-item">
            <figure class="user-photo" style="background-image: url('../images/sample.jpg');">
                <img src="../images/sample.jpg" alt="">
            </figure>
            <p class="message-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sequi quaerat deserunt, quis explicabo expedita optio illo aut hic consequatur debitis nemo commodi earum ducimus rem distinctio quisquam delectus eius.
            </p>
        </li>
        <li class="user-item message-item">
            <figure class="user-photo" style="background-image: url('../images/sample.jpg');">
                <img src="../images/sample.jpg" alt="">
            </figure>
            <p class="message-content">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore magni corrupti minima quis. Culpa iure maxime excepturi ducimus natus, exercitationem pariatur beatae. Reprehenderit inventore repellat cum eius blanditiis ad et?
            </p>
        </li>
        <li class="user-item message-item">
            <figure class="user-photo" style="background-image: url('../images/sample.jpg');">
                <img src="../images/sample.jpg" alt="">
            </figure>
            <p class="message-content">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam hic animi velit incidunt eos iste quam, sit vel ullam, autem eveniet id quae necessitatibus molestiae sint, perferendis est aliquam maiores.
            </p>
        </li>
    </ul>
</body>
</html>