<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="default.css">
    <link rel="stylesheet" href="ui.css">
</head>
<body>
    <div class="card-list-con">
        <ul class="card-list">
            <li class="card-item">
                <figure class="card-image" style="background-image: url('../images/sample.jpg');"></figure>
                <div class="card-desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit..
                </div>
            </li>
            <li class="card-item">
                <figure class="card-image"></figure>
                <div class="card-desc">
                    Quis exercitationem ullam pariatur cupiditate 
                </div>
            </li>
            <li class="card-item">
                <figure class="card-image"></figure>
                <div class="card-desc">
                    accusamus vitae repudiandae aut perferendis nemo ipsum voluptas sapiente expedita voluptate 
                </div>
            </li>
            <li class="card-item">
                <figure class="card-image"></figure>
                <div class="card-desc">
                    porro quos reiciendis, tempora numquam quam
                </div>
            </li>
            <li class="card-item">
                <figure class="card-image"></figure>
                <div class="card-desc">
                    porro quos reiciendis, tempora numquam quam
                </div>
            </li>
            <li class="card-item">
                <figure class="card-image"></figure>
                <div class="card-desc">
                    accusamus vitae repudiandae aut perferendis nemo ipsum voluptas sapiente expedita voluptate 
                </div>
            </li>
            <li class="card-item">
                <figure class="card-image"></figure>
                <div class="card-desc">
                    accusamus vitae repudiandae aut perferendis nemo ipsum voluptas sapiente expedita voluptate 
                </div>
            </li>
            <li class="card-item">
                <figure class="card-image"></figure>
                <div class="card-desc">
                    accusamus vitae repudiandae aut perferendis nemo ipsum voluptas sapiente expedita voluptate 
                </div>
            </li>
        </ul>
    </div>
</body>
</html>