<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="default.css">
    <link rel="stylesheet" href="ui.css">
    <link rel="stylesheet" href="ui-page.css">
</head>
<body>
    <div class="page">
        <!-- header -->
        <header class="header">
            <h1 class="website-title">Spring반 39기</h1>
            <form class="search-form" action="">
                <input type="search" name="search">
                <input type="submit" value="찾기" >
            </form>
        </header>

        <!-- menu -->
        <ul class="menu">
            <li class="menu-item"><a href="" hrdf="#" class="menu-link">Home</a></li>
            <li class="menu-item"><a href="" hrdf="#" class="menu-link">About</a></li>
            <li class="menu-item"><a href="" hrdf="#" class="menu-link">Product</a></li>
            <li class="menu-item"><a href="" hrdf="#" class="menu-link">Contact</a></li>
        </ul>

        <!-- primary -->
        <section class="primary">
            <ul class="card-list">
                <li class="card-item">
                    <figure class="card-image" style="background-image: url('../images/sample.jpg');"></figure>
                    <div class="card-desc">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit..
                    </div>
                </li>
                <li class="card-item">
                    <figure class="card-image"></figure>
                    <div class="card-desc">
                        Quis exercitationem ullam pariatur cupiditate 
                    </div>
                </li>
                <li class="card-item">
                    <figure class="card-image"></figure>
                    <div class="card-desc">
                        accusamus vitae repudiandae aut perferendis nemo ipsum voluptas sapiente expedita voluptate 
                    </div>
                </li>
                <li class="card-item">
                    <figure class="card-image"></figure>
                    <div class="card-desc">
                        porro quos reiciendis, tempora numquam quam
                    </div>
                </li>
                <li class="card-item">
                    <figure class="card-image"></figure>
                    <div class="card-desc">
                        porro quos reiciendis, tempora numquam quam
                    </div>
                </li>
                <li class="card-item">
                    <figure class="card-image"></figure>
                    <div class="card-desc">
                        accusamus vitae repudiandae aut perferendis nemo ipsum voluptas sapiente expedita voluptate 
                    </div>
                </li>
                <li class="card-item">
                    <figure class="card-image"></figure>
                    <div class="card-desc">
                        accusamus vitae repudiandae aut perferendis nemo ipsum voluptas sapiente expedita voluptate 
                    </div>
                </li>
                <li class="card-item">
                    <figure class="card-image"></figure>
                    <div class="card-desc">
                        accusamus vitae repudiandae aut perferendis nemo ipsum voluptas sapiente expedita voluptate 
                    </div>
                </li>
            </ul>
        </section>

        <!-- secondary-a -->
        <aside class="secondary secondary-a">
            <ul class="info-list">
                <li class="info-list-item">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolorem perspiciatis alias. Saepe veritatis cupiditate natus quos, eveniet adipisci ut, corporis illo quis quia consequuntur error perspiciatis vel omnis ullam.
                </li>
                <li class="info-list-item">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nesciunt numquam at enim pariatur facilis aspernatur nam cumque asperiores! Repellat deleniti voluptate quasi, eum ut quos id fugit porro deserunt.
                </li>
                <li class="info-list-item">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eligendi itaque, rem amet ipsa quia, sequi tempore veritatis sunt molestiae assumenda officiis maiores exercitationem. Aliquam laboriosam eligendi maxime atque quis!
                </li>
            </ul>

            <ul class="user list friend-list">
                <li class="user-item friend-item">
                    <figure class="user-photo" style="background-image: url('../images/sample.jpg');"></figure>
                    <p class="user-name">
                        이 헌법은 1988년 2월 25일부터 시행한다. 다만, 이 헌법을 시행하기 위하여 필요한 법률의 제정·개정과 이 헌법에 의한 대통령 및 국회의원의 선거 기타 이 헌법시행에 관한 준비는 이
                        헌법시행 전에 할 수 있다.
        
                        국가는 청원에 대하여 심사할 의무를 진다. 대통령으로 선거될 수 있는 자는 국회의원의 피선거권이 있고 선거일 현재 40세에 달하여야 한다. 한 회계연도를 넘어 계속하여 지출할 필요가 있을
                        때에는 정부는 연한을 정하여 계속비로서 국회의 의결을 얻어야 한다.
                    </p>
                </li>
                <li class="user-item friend-item">
                    <figure class="user-photo" style="background-image: url('../images/sample.jpg');"></figure>
                    <p class="user-name">
                        광물 기타 중요한 지하자원·수산자원·수력과 경제상 이용할 수 있는 자연력은 법률이 정하는 바에 의하여 일정한 기간 그 채취·개발 또는 이용을 특허할 수 있다.
        
                        공무원의 직무상 불법행위로 손해를 받은 국민은 법률이 정하는 바에 의하여 국가 또는 공공단체에 정당한 배상을 청구할 수 있다. 이 경우 공무원 자신의 책임은 면제되지 아니한다.
                    </p>
                </li>
                <li class="user-item friend-item">
                    <figure class="user-photo" style="background-image: url('../images/sample.jpg');"></figure>
                    <p class="user-name">
                        대통령의 임기는 5년으로 하며, 중임할 수 없다. 법원은 최고법원인 대법원과 각급법원으로 조직된다. 대한민국의 영토는 한반도와 그 부속도서로 한다.
        
                        국회가 재적의원 과반수의 찬성으로 계엄의 해제를 요구한 때에는 대통령은 이를 해제하여야 한다. 대법원과 각급법원의 조직은 법률로 정한다. 모든 국민은 건강하고 쾌적한 환경에서 생활할
                        권리를 가지며, 국가와 국민은 환경보전을 위하여 노력하여야 한다.
                    </p>
                </li>
                <li class="user-item friend-item">
                    <figure class="user-photo" style="background-image: url('../images/sample.jpg');"></figure>
                    <p class="user-name">
                        국회는 정부의 동의없이 정부가 제출한 지출예산 각항의 금액을 증가하거나 새 비목을 설치할 수 없다. 국회의원의 선거구와 비례대표제 기타 선거에 관한 사항은 법률로 정한다.
        
                        선거에 관한 경비는 법률이 정하는 경우를 제외하고는 정당 또는 후보자에게 부담시킬 수 없다. 국가는 법률이 정하는 바에 의하여 재외국민을 보호할 의무를 진다.
                    </p>
                </li>
            </ul>
        </aside>

        <!-- secondary-b -->
        <aside class="secondary secondary-b">
            <ul class="user-list message-list">
                <li class="user-item message-item">
                    <figure class="user-photo" style="background-image: url('../images/sample.jpg');">
                        <img src="../images/sample.jpg" alt="">
                    </figure>
                    <p class="message-content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis sequi quaerat deserunt, quis explicabo expedita optio illo aut hic consequatur debitis nemo commodi earum ducimus rem distinctio quisquam delectus eius.
                    </p>
                </li>
                <li class="user-item message-item">
                    <figure class="user-photo" style="background-image: url('../images/sample.jpg');">
                        <img src="../images/sample.jpg" alt="">
                    </figure>
                    <p class="message-content">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore magni corrupti minima quis. Culpa iure maxime excepturi ducimus natus, exercitationem pariatur beatae. Reprehenderit inventore repellat cum eius blanditiis ad et?
                    </p>
                </li>
                <li class="user-item message-item">
                    <figure class="user-photo" style="background-image: url('../images/sample.jpg');">
                        <img src="../images/sample.jpg" alt="">
                    </figure>
                    <p class="message-content">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam hic animi velit incidunt eos iste quam, sit vel ullam, autem eveniet id quae necessitatibus molestiae sint, perferendis est aliquam maiores.
                    </p>
                </li>
            </ul>
        </aside>

        <!-- footer -->
        <footer class="footer">
            Copylight @2021 GoodeeAcademy
        </footer>
    </div>
</body>
</html>