<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="default.css">
    <link rel="stylesheet" href="ui.css">
</head>
<body>
    <ul class="info-list">
        <li class="info-list-item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas dolorem perspiciatis alias. Saepe veritatis cupiditate natus quos, eveniet adipisci ut, corporis illo quis quia consequuntur error perspiciatis vel omnis ullam.
        </li>
        <li class="info-list-item">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia nesciunt numquam at enim pariatur facilis aspernatur nam cumque asperiores! Repellat deleniti voluptate quasi, eum ut quos id fugit porro deserunt.
        </li>
        <li class="info-list-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eligendi itaque, rem amet ipsa quia, sequi tempore veritatis sunt molestiae assumenda officiis maiores exercitationem. Aliquam laboriosam eligendi maxime atque quis!
        </li>
    </ul>
</body>
</html>